@CHARSET "UTF-8";
#logo {
	margin:0 auto;
	width:8rem;
	height:8rem;
}
#logo img {
	width:100%;
	height:100%;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	color: #999;
	text-align: center;
}
form {
	width: 80%;
	margin: 0 10%;
}
body, input, select, textarea, button, .ui-btn {
	font-size: 0.7rem;
}
.ui-input-text input, .ui-input-search input, textarea.ui-input-text {
    line-height: 2.4rem;
    font-size: 0.8rem;
    padding: 0 1rem;
}
form div {
	width: 100%;
	height: 2.3rem;
	margin: 2rem 0;
}
.ui-slider-track .ui-btn.ui-slider-handle{
    margin: -17px 0 0 -15px;
}

.ui-slider-inneroffset {
    left: 0%;
    width: 52%;
}