<!doctype html>
<html lang="zh_cn">
<head>
	<meta charset="UTF-8" />
	<title>飞猪博客</title>
	<link rel="shortcut icon" href="home_img/favicon.ico" />
	<link rel="stylesheet" href="jqueryui/jquery-ui.min.css" />
	<link rel="stylesheet" href="jquery_plug/jquery.time.css" />
	<link rel="stylesheet" href="home_css/index.css" />
	<script type="text/javascript" src="jquery_plug/jquery.min.js"></script>
	<script type="text/javascript" src="jquery_plug/jquery.snow.js"></script>
	<script type="text/javascript" src="jquery_plug/jquery.letter.js"></script>
	<script type="text/javascript" src="jquery_plug/jquery.time.js"></script>
	<script type="text/javascript" src="jqueryui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="home_js/index.js"></script>
	<script type="text/javascript">
	var ThinkPHP = {
			'IMG' : 'home_img/',	
		}
	</script>
</head>
<body>
<header>
	<nav>
		<ul>
			<li>会飞的猪</li>
			<li>首页</li>
			<li>关于</li>
			<li>前端</li>
			<li>后端</li>
			<li>工具</li>
			<li>系统</li>
			<li>教程</li>
			<li>项目</li>
			<li>合作</li>
			<li>留言</li>
		</ul>
	</nav>
	<section>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
	</section>
</header>
<section>
	<section id="west">
		<div id="content">
			<div class="history">
				<div class="history-date">
					<ul>
						<h2 class="first"><a href="#nogo">2017年</a>未经允许禁止转载</h2>
						<li class="green">
							<h3>10.03<span>2017</span></h3>
							<dl>
								<dt>ubuntu16.04搭建LAMP环境<span>1.配置网络环境管理员给分配了一个静态IP，所以还需要进一步配置网络环境<br/>1.配置网络环境管理员给分配了一个静态IP，所以还需要进一步配置网络环境</span><a href="#">阅读全文</a>
								</dt>
							</dl>
						</li>
						<li>
							<h3>10.03<span>2017</span></h3>
							<dl>
								<dt>ubuntu16.04搭建LAMP环境<span>1.配置网络环境管理员给分配了一个静态IP，所以还需要进一步配置网络环境<br/>1.配置网络环境管理员给分配了一个静态IP，所以还需要进一步配置网络环境</span><a href="#">阅读全文</a>
								</dt>
							</dl>
						</li>
						<li>
							<h3>10.03<span>2017</span></h3>
							<dl>
								<dt>ubuntu16.04搭建LAMP环境<span>1.配置网络环境管理员给分配了一个静态IP，所以还需要进一步配置网络环境<br/>1.配置网络环境管理员给分配了一个静态IP，所以还需要进一步配置网络环境</span><a href="#">阅读全文</a>
								</dt>
							</dl>
						</li>
						<li>
							<h3>02.10<span>2017</span></h3>
							<dl>
								<dt>首页前端已完成</dt>
							</dl>
						</li>
						<li>
							<h3>02.10<span>2017</span></h3>
							<dl>
								<dt>首页前端已完成</dt>
							</dl>
						</li>
						<li>
							<h3>02.10<span>2017</span></h3>
							<dl>
								<dt>首页前端已完成</dt>
							</dl>
						</li>
						<li>
							<h3>02.10<span>2017</span></h3>
							<dl>
								<dt>首页前端已完成</dt>
							</dl>
						</li>
						<li>
							<h3>02.10<span>2017</span></h3>
							<dl>
								<dt>首页前端已完成</dt>
							</dl>
						</li>
						<li>
							<h3>02.10<span>2017</span></h3>
							<dl>
								<dt>首页前端已完成</dt>
							</dl>
						</li>
						<li>
							<h3>02.10<span>2017</span></h3>
							<dl>
								<dt>首页前端已完成</dt>
							</dl>
						</li>
						<li>
							<h3>02.10<span>2017</span></h3>
							<dl>
								<dt>首页前端已完成</dt>
							</dl>
						</li>
						<li>
							<h3>01.10<span>2017</span></h3>
							<dl>
								<dt>会飞的猪zzzz个人博客项目正式开始</dt>
							</dl>
						</li>
					</ul>
				</div>
				<div class="history-date"><ul><h2></h2></ul></div>
			</div>
		</div>
	</section>
	<section id="east">
		<section id="info">
			<img src="home_img/i.png" alt="站长" />
			<p>姓名 : 朱俊权</p>
			<p>网名 : 会飞的猪zzzz</p>
			<p>职业 : 学生</p>
			<p>专业 : 网络工程</p>
			<p>居住 : 广东.茂名</p>
			<p>主页 : hlrpz.com</p>
			<p>Q Q : 15609977191</p>
		</section>
		<section id="thank">
			<p>如果对你有益，请给我一点支持</p>
			<ul>
				<li>1元</li>
				<li>2元</li>
				<li>5元</li>
				<li>10元</li>
			</ul>
			<img src="home_img/1.jpg" alt="打赏" />
		</section>
		<section id="hot">
			<h5>文章热度排行榜</h5>
			<section class="demo">
				<h3>ubuntu16.04搭建LAMP环境</h3>
				<p><span>2017/10/02</span>　<span>浏览:1000</span>　<span>赞:1000</span></p>
			</section>
			<section class="demo">
				<h3>ubuntu16.04搭建LAMP环境</h3>
				<p><span>2017/10/02</span>　<span>浏览:1000</span>　<span>赞:1000</span></p>
			</section>
			<section class="demo">
				<h3>ubuntu16.04搭建LAMP环境</h3>
				<p><span>2017/10/02</span>　<span>浏览:1000</span>　<span>赞:1000</span></p>
			</section>
			<section class="demo">
				<h3>ubuntu16.04搭建LAMP环境</h3>
				<p><span>2017/10/02</span>　<span>浏览:1000</span>　<span>赞:1000</span></p>
			</section>
		</section>
	</section>
</section>
<footer>
	©2017 hlrpz.cn Powered by iu 粤ICP备17102489号<br/>
	<img id="beian" src="home_img/beian.png">京公网安备xxxxxxxxxxx号
</footer>
</body>
</html>