<!doctype html>
<html lang="zh_cn">
<head>
	<meta charset="UTF-8" />
	<title>飞猪博客</title>
	<link rel="shortcut icon" href="home_img/favicon.ico" />
	<link rel="stylesheet" href="jqueryui/jquery-ui.min.css" />
	<link rel="stylesheet" href="home_css/index.css" />
	<script type="text/javascript" src="jquery_plug/jquery.min.js"></script>
	<script type="text/javascript" src="jquery_plug/jquery.snow.js"></script>
	<script type="text/javascript" src="jquery_plug/jquery.letter.js"></script>
	<script type="text/javascript" src="jqueryui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="home_js/index.js"></script>
	<script type="text/javascript">
	var ThinkPHP = {
			'IMG' : 'home_img/',	
		}
	</script>
</head>
<body>
<header>
	<nav>
		<ul>
			<li>会飞的猪</li>
			<li>首页</li>
			<li>关于</li>
			<li>前端</li>
			<li>后端</li>
			<li>工具</li>
			<li>系统</li>
			<li>教程</li>
			<li>项目</li>
			<li>合作</li>
			<li>留言</li>
		</ul>
	</nav>
	<section>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
	</section>
</header>
<section id="content">
	<section id="west">
	
	</section>
	<section id="east">
		<section id="info">
			<img src="home_img/i.png" alt="站长" />
			<p>姓名 : 朱俊权</p>
			<p>网名 : 会飞的猪zzzz</p>
			<p>职业 : 学生</p>
			<p>专业 : 网络工程</p>
			<p>居住 : 广东.茂名</p>
			<p>主页 : hlrpz.com</p>
			<p>Q Q : 15609977191</p>
		</section>
		<section id="thank"></section>
		<section id="hot"></section>
	</section>
</section>
<footer>
	©2017 hlrpz.cn Powered by iu 粤ICP备17102489号<br/>
	<img id="beian" src="home_img/beian.png">京公网安备xxxxxxxxxxx号
</footer>
</body>
</html>