<!doctype html>
<html lang="zh_cn">
<head>
	<meta charset="UTF-8" />
	<title>飞猪博客</title>
	<link rel="shortcut icon" href="home_img/favicon.ico" />
	<link rel="stylesheet" href="jqueryui/jquery-ui.min.css" />
	<link rel="stylesheet" href="home_css/index.css" />
	<script type="text/javascript" src="jqueryui/jquery.js"></script>
	<script type="text/javascript" src="jqueryui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="home_js/jquery-snow.js"></script>
	<script type="text/javascript" src="home_js/index.js"></script>
	<script type="text/javascript">
	var ThinkPHP = {
			'IMG' : 'home_img/',	
		}
	</script>
</head>
<body>
<header>
	<nav>
		<ul>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
		</ul>
	</nav>
	<section>
		<p>HTML5确实非常强大,我们之前也分享过很多基于HTML5 Canvas的动画特效。</p>
		<p>HTML5确实非常强大,我们之前也分享过很多基于HTML5 Canvas的动画特效。</p>
		<p>HTML5确实非常强大,我们之前也分享过很多基于HTML5 Canvas的动画特效。</p>
	</section>
</header>
<section>
	
</section>
</body>
</html>