<!doctype html>
<html lang="zh_cn">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="jquerymobile/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="yibanmobile_css/index.css" />
	<script type="text/javascript" src="jquery_plug/jquery.min.js"></script>
	<script type="text/javascript" src="jquerymobile/jquery.mobile-1.4.5.min.js"></script>
</head>
<body data-role="page" class="ui-page-theme-a">
	<header data-role="header">
		<h2 class="tip">查询系统</h2>
		<p>系统提示</p>
    	<p>1、本系统接入的是学校新教务系统http://210.38.250.43/</p>
    	<p>2、账号为学号</p>
    	<p>3、密码为新教务系统的登陆密码，如未更改则和学号一样</p>
    	<p>4、[大一忽略]请保证新旧教务系统密码一致，否则将无法使用课表查询或者成绩查询功能</p>
  	</header>
	<section data-role="main" class="ui-content">
		<div class="ui-grid-b">
		    <div class="ui-block-a">
		    	<div class="ui-bar">
			    	<img src="yibanmobile_img/course.png" alt="课表查询" />
			    	<p>课表查询</p>
		    	</div>
		    </div>
		    <div class="ui-block-b">
		    	<div class="ui-bar">
			    	<img src="yibanmobile_img/grade.png" alt="成绩查询" />
			    	<p>成绩查询</p>
		    	</div>
		    </div>
		    <div class="ui-block-c">
		    	<div class="ui-bar">
			    	<img src="yibanmobile_img/assignment.png" alt="课程任务" />
			    	<p>课程任务</p>
		    	</div>
		    </div>
		    <div class="ui-block-a">
		    	<div class="ui-bar">
			    	<img src="yibanmobile_img/calender.png" alt="校历查询" />
			    	<p>校历查询</p>
		    	</div>
		    </div>
		    <div class="ui-block-b">
		    	<div class="ui-bar">
			    	<img src="yibanmobile_img/dormitory.png" alt="宿舍中心" />
			    	<p>宿舍中心</p>
		    	</div>
		    </div>
		    <div class="ui-block-c">
		    	<div class="ui-bar">
			    	<img src="yibanmobile_img/net.png" alt="宽带查询" />
			    	<p>宽带查询</p>
		    	</div>
		    </div>
		    <div class="ui-block-a">
 			    <div class="ui-bar">
			    	<img src="yibanmobile_img/phone.png" alt="办公电话" />
			    	<p>办公电话</p>
		    	</div>
		    </div>
		    <div class="ui-block-b">
		    	<div class="ui-bar">
			    	<img src="yibanmobile_img/set.png" alt="账号重置" />
			    	<p>账号重置</p>
		    	</div>
		    </div>
		</div>
	</section>
</body>
</html>