body,header,ul,li,nav,h4 {
	margin: 0;
	padding: 0;
}
ul,ol {
	list-style: none;
}
body {
	overflow-y:scroll;
}
header>nav {
	background: rgba(200,200,200,0.3);
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0px;
	animation: header 0.5s;
	-moz-animation: header 0.5s;	/* Firefox */
	-webkit-animation: header 0.5s;	/* Safari 和 Chrome */
	-o-animation: header 0.5s;	/* Opera */
}
header>nav>ul {
	width: 80%;
	margin: 10px 10%;
	height: 30px;
	line-height: 30px;
}
header>nav>ul>li {
	display: inline-block;
	text-align: center;
	color: #eee;
	width: 8%;
	font-size: 1rem;
	font-weight: 800;
}
header>nav>ul>li:hover {
	color: #fff;
}
header>section {
	margin: 50px auto;
	padding-top: 30px;
	width: 70%;
	height: 250px;
}
header>section>p {
	font-size: 0.9em;
	letter-spacing: 0.1em;
	color: #fff;
	display: none;
}
@keyframes header
{
	from {
		background: rgba(200,200,200,0);
		position: fixed;
		top: -120px;
	}
	to {
		background: rgba(200,200,200,0.3);
		position: fixed;
		top: 30px;
	}
}

@-moz-keyframes header /* Firefox */
{
	from {
		background: rgba(200,200,200,0);
		position: fixed;
		top: -120px;
	}
	to {
		background: rgba(200,200,200,0.3);
		position: fixed;
		top: 30px;
	}
}

@-webkit-keyframes header /* Safari 和 Chrome */
{
	from {
		background: rgba(200,200,200,0);
		position: fixed;
		top: -120px;
	}
	to {
		background: rgba(200,200,200,0.3);
		position: fixed;
		top: 30px;
	}
}

@-o-keyframes header /* Opera */
{
	from {
		background: rgba(200,200,200,0);
		position: fixed;
		top: -120px;
	}
	to {
		background: rgba(200,200,200,0.3);
		position: fixed;
		top: 30px;
	}
}
#content {
	background: rgba(50,50,50,0.7);
	height: 2000px;
}
#west {
	width: 70%;
	float: left;
}
#east {
	width: 30%;
	float: right;
}
#info {
	width: 80%;
	background: #fff;
	height: 220px;
	float: left;
	margin-top: 20px;
	box-shadow: 2px 1px 2px #fff;
	border-radius: 2px;
}
#info img {
	padding: 10px;
	border-right: 1px dashed #666;
	display: block;
	float: left;
}
#info p {
	font-size: 0.8em;
	color: #555;
	text-indent: 2em;
}
footer {
	clear: both;
	text-align: center;
	height: 55px;
	font-size: 0.8em;
	color: #ccc;
	background: #333;
	padding-top: 10px;
	line-height: 20px;
}
#beian{
	width: 16px;
	position: relative;
	top: 3px;
	padding-right: 3px;
}